{% extends "default.njk" %}

{% block title %}It does work{% endblock %}

{% block content %}
  <div class="fixed inset-0 flex justify-center items-center">
    <div>
      <span class="text-9xl">ventuno.space</span><br/>
    </div>
  </div>
{% endblock %}